<div class="header">
  <div class="header-wrap">
    <ul class="header-list-wrap">
      <li class="header-logo">
        <img src="/assets/images/logo.jpg" class="logo-image" />
      </li>

      <li class="header-left-menu on">
        <span class="menu-text">영화</span>
      </li>

      <li class="header-left-menu">
        <span class="menu-text">TV 프로그램</span>
      </li>

      <li class="header-search">
        <mat-icon class="search-icon">search</mat-icon>

        <input
          type="text"
          class="search-input"
          placeholder="작품 제목, 배우, 감독을 검색해보세요."
        />

        <mat-icon class="cancel-icon">cancel</mat-icon>
      </li>

      <li class="header-mypage">
        <mat-icon class="mypage-icon">account_circle</mat-icon>
      </li>
    </ul>
  </div>
</div>
