.header {
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #eae9e8;
  background-color: #ffffff;
}

.header-wrap {
  width: 1200px;
  margin: 0 auto;
}

.header-list-wrap {
  display: flex;
  align-items: center;
}

// header 로고 이미지
.header-logo {
  cursor: pointer;
  margin-right: 16px;
  height: 62px;
}

.logo-image {
  height: 62px;
}

// header 메뉴
.header-left-menu {
  cursor: pointer;
  margin-left: 24px;

  &.on {
    .menu-text {
      font: var(--noto-b);
      font-size: 15px;
      color: #000000;
    }
  }
}

.menu-text {
  font: var(--noto);
  font-size: 15px;
  color: rgb(126, 126, 126);
}

.header-search {
  position: relative;
  margin-left: auto;
  width: 300px;
}

.search-input {
  background-color: rgb(245, 245, 247);
  height: 38px;
  border-radius: 2px;
  width: 220px;
  padding: 0 40px 0 40px;
  font: var(--noto);
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  font: var(--noto);
  font-size: 14px;
}

.search-icon {
  position: absolute;
  left: 8px;
  top: 8px;
  color: #bbbbbb;
}

.cancel-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #bbbbbb;
  cursor: pointer;
}

.header-mypage {
  display: flex;
  align-items: center;
  margin-left: 24px;
  cursor: pointer;
}

.mypage-icon {
  font-size: 32px;
  height: 32px;
  width: 32px;
  color: #dddddd;
}

@media (max-width: 1399px) {
  .header-wrap {
    width: 88%;
    margin: 0 60px;
  }
}
