<div class="footer">
  <div class="footer-content-wrap">
    <div class="content-text-wrap">
      <span class="content-text cursor-pointer">서비스 이용 약관</span>

      <div class="line"></div>

      <span class="content-text cursor-pointer">개인정보 처리방침</span>

      <div class="line"></div>

      <span class="content-text cursor-pointer">회사안내</span>
    </div>

    <div class="content-text-wrap">
      <span class="content-text">고객센터</span>

      <div class="line"></div>

      <span class="content-text cursor-pointer">cs@test.com</span>
    </div>

    <div class="content-text-wrap">
      <span class="content-text">제휴 및 대외 협력</span>

      <div class="line"></div>

      <span class="content-text cursor-pointer">contact@test.com</span>
    </div>

    <div class="content-text-wrap">
      <span class="content-text color">프로젝트 왓챠</span>

      <div class="line"></div>

      <span class="content-text color">대표 OOO</span>

      <div class="line"></div>

      <span class="content-text color"
        >서울특별시 OO구 OO대로 OOO OO빌딩 O층</span
      >
    </div>

    <div class="content-text-wrap">
      <span class="content-text color">사업자등록 번호</span>

      <div class="line none"></div>

      <span class="content-text color">OOO-OO-OOOOO</span>
    </div>

    <div class="copyright-wrap">
      <div class="content-text-wrap margin-0">
        <span class="content-text color">WHATCHA</span>

        <div class="line none"></div>

        <span class="content-text color"
          >© 2021 by OOO, Inc. All rights reserved.</span
        >
      </div>

      <div class="sns-wrap">
        <img src="/assets/images/icon/github-icon.png" class="github-image" />

        <mat-icon class="facebook-icon">facebook</mat-icon>

        <mat-icon class="thumb-up-icon">thumb_up_alt</mat-icon>
      </div>
    </div>
  </div>
</div>
