// 폰트 스타일
:root {
  --noto-t: normal 100 13px "Noto Sans KR";
  --noto-l: normal 300 13px "Noto Sans KR";
  --noto: normal 400 13px "Noto Sans KR";
  --noto-m: normal 500 13px "Noto Sans KR";
  --noto-b: normal 700 13px "Noto Sans KR";
  --noto-black: normal 900 13px "Noto Sans KR";
}
