.content-wrap {
  width: 1200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.content-title {
  font: var(--noto-b);
  font-size: 22px;
  color: #292a32;
}

.content-list-wrap {
  margin-top: 14px;
}

.content-ul {
  display: flex;
  width: 100%;
}

.content-image-wrap {
  width: 250px;
  height: 360px;
  border-radius: 5px;
  border: 1px solid #eae9e8;
}

.content-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
