<app-header></app-header>

<app-content>
  <div class="content-wrap">
    <div class="content-list-wrap">
      <span class="content-title">박스오피스 순위</span>

      <ul class="content-ul">
        <li class="content-li">
          <div class="content-image-wrap">
            <img
              src="/assets/images/boxOffice-img/boxOffice-img1.jpg"
              class="content-image"
            />
          </div>

          <span class="content-sub-title">분노의 질주: 더 얼티메이트</span>

          <div class="content-year-wrap">
            <span class="content-year">2021</span>

            <div class="dot"></div>

            <span class="content-from">영국</span>
          </div>
        </li>

        <li class="content-li">
          <div class="content-image-wrap">
            <img
              src="/assets/images/boxOffice-img/boxOffice-img1.jpg"
              class="content-image"
            />
          </div>

          <span class="content-sub-title">분노의 질주: 더 얼티메이트</span>

          <div class="content-year-wrap">
            <span class="content-year">2021</span>

            <div class="dot"></div>

            <span class="content-from">영국</span>
          </div>
        </li>

        <li class="content-li">
          <div class="content-image-wrap">
            <img
              src="/assets/images/boxOffice-img/boxOffice-img1.jpg"
              class="content-image"
            />
          </div>

          <span class="content-sub-title">분노의 질주: 더 얼티메이트</span>

          <div class="content-year-wrap">
            <span class="content-year">2021</span>

            <div class="dot"></div>

            <span class="content-from">영국</span>
          </div>
        </li>

        <li class="content-li">
          <div class="content-image-wrap">
            <img
              src="/assets/images/boxOffice-img/boxOffice-img1.jpg"
              class="content-image"
            />
          </div>

          <span class="content-sub-title">분노의 질주: 더 얼티메이트</span>

          <div class="content-year-wrap">
            <span class="content-year">2021</span>

            <div class="dot"></div>

            <span class="content-from">영국</span>
          </div>
        </li>

        <li class="content-li">
          <div class="content-image-wrap">
            <img
              src="/assets/images/boxOffice-img/boxOffice-img1.jpg"
              class="content-image"
            />
          </div>

          <span class="content-sub-title">분노의 질주: 더 얼티메이트</span>

          <div class="content-year-wrap">
            <span class="content-year">2021</span>

            <div class="dot"></div>

            <span class="content-from">영국</span>
          </div>
        </li>

        <div class="content-pagination" matRipple>
          <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
        </div>
      </ul>
    </div>

    <div class="content-list-wrap">
      <span class="content-title">왓챠 영화 순위</span>

      <ul class="content-ul">
        <li class="content-li">
          <div class="content-image-wrap">
            <img
              src="/assets/images/boxOffice-img/boxOffice-img1.jpg"
              class="content-image"
            />
          </div>

          <span class="content-sub-title">분노의 질주: 더 얼티메이트</span>

          <div class="content-year-wrap">
            <span class="content-year">2021</span>

            <div class="dot"></div>

            <span class="content-from">영국</span>
          </div>
        </li>

        <li class="content-li">
          <div class="content-image-wrap">
            <img
              src="/assets/images/boxOffice-img/boxOffice-img1.jpg"
              class="content-image"
            />
          </div>

          <span class="content-sub-title">분노의 질주: 더 얼티메이트</span>

          <div class="content-year-wrap">
            <span class="content-year">2021</span>

            <div class="dot"></div>

            <span class="content-from">영국</span>
          </div>
        </li>

        <li class="content-li">
          <div class="content-image-wrap">
            <img
              src="/assets/images/boxOffice-img/boxOffice-img1.jpg"
              class="content-image"
            />
          </div>

          <span class="content-sub-title">분노의 질주: 더 얼티메이트</span>

          <div class="content-year-wrap">
            <span class="content-year">2021</span>

            <div class="dot"></div>

            <span class="content-from">영국</span>
          </div>
        </li>

        <li class="content-li">
          <div class="content-image-wrap">
            <img
              src="/assets/images/boxOffice-img/boxOffice-img1.jpg"
              class="content-image"
            />
          </div>

          <span class="content-sub-title">분노의 질주: 더 얼티메이트</span>

          <div class="content-year-wrap">
            <span class="content-year">2021</span>

            <div class="dot"></div>

            <span class="content-from">영국</span>
          </div>
        </li>

        <li class="content-li">
          <div class="content-image-wrap">
            <img
              src="/assets/images/boxOffice-img/boxOffice-img1.jpg"
              class="content-image"
            />
          </div>

          <span class="content-sub-title">분노의 질주: 더 얼티메이트</span>

          <div class="content-year-wrap">
            <span class="content-year">2021</span>

            <div class="dot"></div>

            <span class="content-from">영국</span>
          </div>
        </li>

        <div class="content-pagination" matRipple>
          <mat-icon class="right-arrow-icon">keyboard_arrow_right</mat-icon>
        </div>
      </ul>
    </div>
  </div>
</app-content>

<app-footer></app-footer>
