.content-wrap {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 93px;
}

.content-title {
  font: var(--noto-b);
  font-size: 22px;
  color: #292a32;
}

.content-list-wrap {
  margin-bottom: 42px;
}

.content-list-wrap:last-child {
  margin-bottom: 62px;
}

.content-ul {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 14px;
}

.content-li {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  cursor: pointer;
}

.content-li:last-child {
  margin-right: 0;
}

.content-image-wrap {
  width: 250px;
  height: 360px;
  border-radius: 5px;
  border: 1px solid #eae9e8;
}

.content-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.content-sub-title {
  font: var(--noto-m);
  font-size: 16px;
  color: #292a32;
  margin-top: 5px;
}

.content-year-wrap {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.content-year {
  font: var(--noto);
  font-size: 14px;
  color: #292a32;
}

.dot {
  width: 3px;
  height: 3px;
  background-color: #292a32;
  border-radius: 50%;
  margin: 0px 12px;
}

.content-from {
  font: var(--noto);
  font-size: 14px;
  color: #292a32;
}

.content-pagination {
  position: absolute;
  top: 160px;
  right: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid rgb(249, 249, 249);
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px;
  cursor: pointer;
}

.content-pagination:hover {
  .right-arrow-icon {
    color: #292a32;
  }
}

.right-arrow-icon {
  color: #bbbbbb;
}
